<ion-header class="ion-justify-content-center ion-no-border  ion-padding-start">

  <div class="loginHead" > 
    <img src="assets/images/logo.svg">
  </div>
</ion-header>

<ion-content class="ion-padding">

  <ion-row style="margin-top: 5%;">
    <ion-col sizeXs="12" style="text-align: center;">
      <ion-text class="title" >
        Sign In
      </ion-text>
    </ion-col>
    <ion-col sizeXs="12" style="text-align: center;">
      <ion-text class="intro">
        Sign into your account to continue.
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="loginBox">
    <div class="loginDiv">
    <ion-col sizeXs="9" >
      <ion-item>
        <ion-input ion-input placeholder="Cellphone Number" type="number" [(ngModel)]="number"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col sizeXs="3">
        <ion-icon *ngIf="showVerifyNumber == true" id="sign-in-button" (click)="verifyNumber()" name="sync-outline"></ion-icon>
        <ion-spinner *ngIf="(showVerifyNumber ==false)&& (showOtpCode ==false)" name="bubbles"></ion-spinner>
    </ion-col>
    <ion-col sizeXs="9" *ngIf="showOtpCode">
      <ion-item>
        <ion-input  placeholder="Otp Codes" type="text" [(ngModel)]="otpCode"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col sizeXs="3" *ngIf="showOtpCode">
      <ion-icon *ngIf="showVerifyCode == true" (click)="submitVerif()" name="sync-outline"></ion-icon>
      <ion-spinner *ngIf="(showVerifyCode ==false)&& (showOwnCode ==false)" name="bubbles"></ion-spinner>
    </ion-col>
    <ion-col sizeXs="12" *ngIf="showOwnCode">
      <ion-item>
        <ion-input  placeholder="your personal Code" type="number" [(ngModel)]="ownCode"></ion-input>
      </ion-item>
    </ion-col>
  </div>
  </ion-row>



  <ion-row *ngIf="showOwnCode" class="ion-margin-top">
    <ion-button  class="login-btn" (click)="checkOwnCode()">
      <span>Login</span>
    </ion-button>
  </ion-row>
  <div class="recapchaBox" *ngIf="showRecapBox">
    <div id="recaptcha-container"></div>
  </div> 

</ion-content>
<ion-footer class="ion-no-border">

</ion-footer>
