<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" class="menu-custom">
      <div class="container">
        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-text class="logo">LOGO</ion-text>
            <ion-text class="sublogo">Goes Here</ion-text>
          </ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon [src] = "p.icon"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
