ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

.menu-custom{
  --width: 100px;
  border-right: 2px solid #EAEDF3;
}
ion-split-pane{
  --side-max-width: 100px;
  --side-min-width: 100px;
}
ion-list-header{
  display: flex;
  flex-direction: column;
  margin-bottom: 52px;
  ion-text.logo{
    font-size: 20px;
    font-family: "MontseSemiBold";
    color: var(--ion-color-red);
  }
  ion-text.sublogo{
    font-size: 9.9px;
    font-family: "MontseReg";
    color: #B5B5B5;
  }
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu ion-list-header,
ion-menu ion-note {
  padding-left: 0;
}


ion-item{
  --inner-padding-end: 16px;
  min-height: 90px;
  ion-icon{
    margin: auto;
    font-size: 20px;
    //margin-bottom: 68px;
  }
}

ion-menu ion-item.selected ion-icon {
  color: var(--ion-color-red);
}

ion-menu ion-item ion-icon {
  color: #D9E3F3;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}