<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">
  <ion-row>
    <ion-col #messagesContainer sizeXs="12" sizeSm="3" [ngClass]="{'hide-msg-list' : !showMsgDrawer}" class="users-list ion-no-padding ion-hide-sm-down">
        <ion-button class="ion-hide-sm-up drawer-btn" (click)="toggleClass()" >
          <p class="close">></p>
          <p class="open"><</p>
        </ion-button>
        <ion-row class="head ion-margin-top">
          <ion-text class="title">Messages</ion-text>
          <ion-icon src="assets/icons/search.svg"></ion-icon>
        </ion-row>
        <ion-row class="filter">
          <ion-row>
            <ion-text class="all">All</ion-text>
            <ion-text class="unread">Unread</ion-text>
          </ion-row>
          <ion-text class="mark-read">Mark all as read</ion-text>
        </ion-row>
        <ion-row *ngFor="let message of messages">
            <ion-row class="container">
              <ion-col sizeXs="2" class="picture">
                <ion-img [src] = "message.profile_pic"></ion-img>
              </ion-col>
              <ion-col>
                <ion-row class="info">
                  <ion-text class="user">{{message.user}}</ion-text>
                  <ion-text class="time">{{message.time}}</ion-text>
                </ion-row>
                <ion-row class="content">
                  <ion-text>{{message.message}}</ion-text>
                </ion-row>
              </ion-col>
            </ion-row>
        </ion-row>

    </ion-col>

    <ion-col sizeXs="12" sizeSm="6" class="main ion-no-padding">
        <ion-row class="ion-margin-top ion-padding head">
          <div class="container">
            <ion-img [src]="user.picture"></ion-img>
            <ion-text class="user-name ion-margin-start">{{user.name}}</ion-text>
          </div>
         
            <ion-icon (click)="toggleInfoClass()"  name="information-circle-outline"></ion-icon>

        </ion-row>

        <ion-row class="ion-padding ion-margin-top chat">
          <ion-list>
            <div *ngFor="let chat of msgList; let i = index; ">
              <ion-row *ngIf="chat.userId == User">
                <ion-col class="right" no-padding [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
                  <div class="imageAvatarRight">
                    <div class="imageAvatarBottom">
                      <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''">
                
                        <ion-img [src]="chat.userAvatar"></ion-img>
                      </ion-avatar>
                    </div>
                    <ion-label color="light">
                      <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
                      (msgList[i-1] && msgList[i-1].userId == chat.userId)),
                      'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
                      'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}">
                        <p text-wrap padding>{{chat.message}}
                        </p>
                        
                      </div>
                      <ion-row class="time-container" *ngIf="((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])">
                        <ion-text>{{chat.time}}</ion-text>
                    </ion-row>
                    </ion-label>
                  </div>
                  
                </ion-col>
                
              </ion-row>
              <ion-row *ngIf="chat.userId == toUser">
                <ion-col class="left" no-padding [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
                  <div class="imageAvatarLeft">
                    <ion-label color="light">
                      <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
                      (msgList[i-1] && msgList[i-1].userId == chat.userId)),
                      'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
                      'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}">
                        <p text-wrap padding>{{chat.message}}</p>
                      </div>
                      <ion-row class="time-container" *ngIf="((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])">
                        <ion-text>{{chat.time}}</ion-text>
                      </ion-row>
                    </ion-label>
                    <div class="imageAvatarBottom">
                      <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''">
                        <ion-img [src]="chat.userAvatar"></ion-img>
                      </ion-avatar>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-list>
        </ion-row>

        <ion-row class="ion-padding input-container">
            <ion-icon class="attach" src="assets/icons/attach.svg"></ion-icon>
            <ion-input placeholder="Type Something Here..."></ion-input>
            <ion-button>
              <ion-icon src="assets/icons/send.svg"></ion-icon>
              <span>
                Send
              </span>
            </ion-button>
        </ion-row>
    </ion-col>

    <ion-col id="info-drawer" [ngClass]="{'hide-info' : !showInfoDrawer}" sizeXs="12" sizeSm="3" class="user-details ion-no-padding">

      <ion-row class="ion-margin-top ion-padding"> 
        <ion-text class="title">Profile</ion-text>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin-top ion-margin-bottom">
        <ion-col sizeXs="12">
          <ion-img [src]="user.picture"></ion-img>
        </ion-col>
        <ion-col sizeXs="12" class="ion-text-center ion-no-padding">
          <ion-text class="user-name">{{user.name}}</ion-text>
        </ion-col>
        <ion-col sizeXs="12" class="ion-text-center ion-no-padding">
          <ion-text class="user-address">{{user.address}}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="contact-details ion-margin-top ion-padding">
        <ion-row class="details-container">
          <ion-col sizeXs="1">
            <ion-icon src="assets/icons/phone.svg"></ion-icon> 
          </ion-col>
          <ion-col sizeXs="11">
            <ion-text>{{user.phone}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="details-container">
          <ion-col sizeXs="1">
            <ion-icon src="assets/icons/envelope.svg"></ion-icon> 
          </ion-col>
          <ion-col sizeXs="11">
            <ion-text>{{user.email}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="details-container">
          <ion-col sizeXs="1">
            <ion-icon src="assets/icons/position.svg"></ion-icon> 
          </ion-col>
          <ion-col sizeXs="11">
            <ion-text>{{user.full_address}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-row>

      <ion-row class="policy-details ion-margin-top ion-padding">
        <ion-col sizeXs="12">
          <ion-text class="policy-title">Policy Details</ion-text>
        </ion-col>
        <ion-col sizeXs="12" class="detail-container">
          <ion-text class="detail-title">
            Policy Number
          </ion-text>
          <ion-text class="detail-value">
            {{user.policy_details.policy_number}}
          </ion-text>
        </ion-col>
        <ion-col sizeXs="5.5" class="detail-container ion-margin-end">
          <ion-text class="detail-title">
            Tenure
          </ion-text>
          <ion-text class="detail-value">
            {{user.policy_details.tenure}}
          </ion-text>
        </ion-col>
        <ion-col sizeXs="5.5" class="detail-container">
          <ion-text class="detail-title">
            Premium
          </ion-text>
          <ion-text class="detail-value">
            {{user.policy_details.premium}}
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding ion-margin-top benefits">
          <ion-col sizeXs="12">
            <ion-text class="title">Benefits</ion-text>
          </ion-col>
          <ion-col>
            <ul>
              <li>Funeral</li>
              <li>Repatariation</li>
              <li>Paid-Up 85</li>
            </ul>
          </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>
