<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">
  <ion-row>
    <ion-col #messagesContainer sizeXs="12" sizeSm="3" [ngClass]="{'hide-msg-list' : !showMsgDrawer}" class="users-list ion-no-padding ion-hide-sm-down">
        <ion-button class="ion-hide-sm-up drawer-btn" (click)="toggleClass()" >
          <p class="close">></p>
          <p class="open"><</p>
        </ion-button>
        <ion-row class="head ion-margin-top">
          <ion-text class="title">Messages</ion-text>
          <ion-icon src="assets/icons/search.svg"></ion-icon>
        </ion-row>
        <ion-row class="filter">
          <ion-row>
            <ion-text class="all">All</ion-text>
            <ion-text class="unread">Unread</ion-text>
          </ion-row>
          <ion-text class="mark-read">Mark all as read</ion-text>
        </ion-row>
        <ion-row style="width: 100%;" *ngFor="let user of listOfUsers; let i = index" (click)="select(user, i)">
            <ion-row class="container" *ngIf="i != slectedI">
              <!-- <ion-col sizeXs="2" class="picture">
                <ion-img *ngIf="user.profile_pic" [src] = "user.profile_pic"></ion-img>
                <ion-img *ngIf="!user.profile_pic" [src] = "user.picture"></ion-img>
              </ion-col> -->
              <ion-col>
                <ion-row class="info">
                  <ion-text class="user">{{user.name}}</ion-text>
                  <!-- <ion-text class="time">{{user.time}}</ion-text> -->
                </ion-row>
                <ion-row class="content" *ngIf="user.lastMessage">
                  <ion-text>{{user.lastMessage.message}}</ion-text>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="container2" *ngIf="i == slectedI">
              <!-- <ion-col sizeXs="2" class="picture">
                <ion-img *ngIf="user.profile_pic" [src] = "user.profile_pic"></ion-img>
                <ion-img *ngIf="!user.profile_pic" [src] = "user.picture"></ion-img>
              </ion-col> -->
              <ion-col>
                <ion-row class="info">
                  <ion-text class="user">{{user.name}}</ion-text>
                  <!-- <ion-text class="time">{{user.time}}</ion-text> -->
                </ion-row>
                <ion-row class="content" *ngIf="user.lastMessage">
                  <ion-text>{{user.lastMessage.message}}</ion-text>
                </ion-row>
              </ion-col>
            </ion-row>
        </ion-row>

    </ion-col>

    <ion-col sizeXs="12" sizeSm="6" class="main ion-no-padding">
        <ion-row class="ion-margin-top ion-padding head">
          <div class="container">
            <ion-img *ngIf="selectedUser.profile_pic" [src]="selectedUser.profile_pic"></ion-img>
            <ion-img *ngIf="!selectedUser.profile_pic" src="assets/images/person-circle-outline.svg"></ion-img>

            <ion-text class="user-name ion-margin-start">{{selectedUser.name}}</ion-text>
          </div>
         
            <ion-icon (click)="toggleInfoClass()"  name="information-circle-outline"></ion-icon>

        </ion-row>

        <ion-row class="ion-padding ion-margin-top chat" style="width: 100%;">
          <ion-list style="width: 100%;">

            <div *ngFor="let item of selectedMessageCollection" style="width: 100%;">
              <div class="chat-bubble" style="clear: both; max-width: 100%;" *ngIf="item.userName == User" [ngStyle]="{'background-color': 'black'}">
                <p>{{item.message}}</p>
              </div>
              <div class="chat-bubble-reply" style="float: right; clear: both; margin: 10px 5% 10px 0;" *ngIf="item.userName != User" [ngStyle]="{'background-color': 'blue' }">
                <p >{{item.message}}</p>
              </div>
            </div>
          </ion-list>
        </ion-row>

        <ion-row class="ion-padding input-container">
            <ion-icon class="attach" src="assets/icons/attach.svg"></ion-icon>
            <ion-input placeholder="Type Something Here..." [(ngModel)]="user_input"></ion-input>
            <ion-button (click)="sendMessage()">
              <ion-icon src="assets/icons/send.svg"></ion-icon>
              <span>
                Send
              </span>
            </ion-button>
        </ion-row>
    </ion-col>

    <ion-col id="info-drawer" [ngClass]="{'hide-info' : !showInfoDrawer}" sizeXs="12" sizeSm="3" class="user-details ion-no-padding">

      <ion-row class="ion-margin-top ion-padding"> 
        <ion-text class="title">Profile</ion-text>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin-top ion-margin-bottom">
        <ion-col sizeXs="12">
          <ion-img *ngIf="selectedUser.profile_pic" [src]="user.picture"></ion-img>
          <ion-img *ngIf="!selectedUser.profile_pic" src="assets/images/person-circle-outline.svg"></ion-img>
        </ion-col>
        <ion-col sizeXs="12" class="ion-text-center ion-no-padding">
          <ion-text class="user-name">{{selectedUser.name}}</ion-text>
        </ion-col>
        <ion-col sizeXs="12" class="ion-text-center ion-no-padding">
          <ion-text class="user-address">{{selectedUser.address}}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="contact-details ion-margin-top ion-padding">
        <ion-row class="details-container">
          <ion-col sizeXs="1">
            <ion-icon src="assets/icons/phone.svg"></ion-icon> 
          </ion-col>
          <ion-col sizeXs="11">
            <ion-text *ngIf="selectedUserInfo.number">{{selectedUserInfo.number}}</ion-text>
            <ion-text *ngIf="!selectedUserInfo.number">contact number not found</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="details-container">
          <ion-col sizeXs="1">
            <ion-icon src="assets/icons/envelope.svg"></ion-icon> 
          </ion-col>
          <ion-col sizeXs="11">
            <ion-text *ngIf="selectedUserInfo.email">{{selectedUserInfo.email}}</ion-text>
            <ion-text *ngIf="!selectedUserInfo.email">email address not found </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="details-container">
          <ion-col sizeXs="1">
            <ion-icon src="assets/icons/position.svg"></ion-icon> 
          </ion-col>
          <ion-col sizeXs="11">
            <ion-text *ngIf="selectedUser.address">{{selectedUser.address}}</ion-text>
            <ion-text *ngIf="!selectedUser.address">address not found </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="details-container">
          <ion-col sizeXs="1">
            <ion-icon name="person-outline"></ion-icon>         
           </ion-col>
          <ion-col sizeXs="11">
            <ion-text *ngIf="selectedUser.name && selectedUser.surname">{{selectedUser.name}} {{selectedUser.surname}}</ion-text>
            <ion-text *ngIf="!selectedUser.name || !selectedUser.surname">full name not found </ion-text>
          </ion-col>
        </ion-row>
      </ion-row>

      <ion-row class="policy-details ion-margin-top ion-padding">
        <ion-col sizeXs="12">
          <ion-text class="policy-title">Policy Details</ion-text>
        </ion-col>
        <ion-col sizeXs="12" class="detail-container">
          <ion-text class="detail-title">
            Policy Number
          </ion-text>
          <ion-text *ngIf="selectedUser.policyNumber" class="detail-value">
            {{selectedUser.policyNumber}}
          </ion-text>
          <ion-text *ngIf="!selectedUser.policyNumber" class="detail-value2">
            no policy found
          </ion-text>
        </ion-col>
        <ion-col sizeXs="5.5" class="detail-container ion-margin-end">
          <ion-text class="detail-title">
            Tenure
          </ion-text>
          <ion-text *ngIf="selectedUser.tenture" class="detail-value">
            {{selectedUser.tenure}}
          </ion-text>
          <ion-text *ngIf="!selectedUser.tenture" class="detail-value2">
            no tenture found
          </ion-text>
        </ion-col>
        <ion-col sizeXs="5.5" class="detail-container">
          <ion-text class="detail-title">
            Premium
          </ion-text>
          <ion-text *ngIf="selectedUser.premium" class="detail-value">
            {{selectedUser.premium}}
          </ion-text>
          <ion-text *ngIf="!selectedUser.premium" class="detail-value2">
            No premium found
          </ion-text>
        </ion-col>
      </ion-row> 

      <ion-row class="ion-padding ion-margin-top benefits" *ngIf="selectedUser.device">
          <ion-col sizeXs="12">
            <ion-text class="title">DeviceInformation</ion-text>
          </ion-col>
          <ion-col>
            <ul>
              <li>{{selectedUser.device.id}}</li>
              <li>{{selectedUser.device.id}}</li>
              <li>{{selectedUser.device.id}}</li>
            </ul>
          </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>
